# .clang-tidy
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  readability-*,
  readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-math-missing-parentheses,
  -readability-function-cognitive-complexity,
  performance-*,
  misc-*,
  -misc-unused-parameters,
  -misc-confusable-identifiers,
  -misc-non-private-member-variables-in-classes,
  
  cppcoreguidelines-no-malloc, 
  -cppcoreguidelines-init-variables

CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: snake_case
  readability-identifier-naming.VariableCase: snake_case
  readability-identifier-naming.FunctionCase: snake_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-function-cognitive-complexity.Threshold: 15
  readability-function-size.LineThreshold: 500

HeaderFilterRegex: 'src/culverin/.*'

WarningsAsErrors: ''